<app-comment [comment]="selectedComment()"></app-comment>

<form class="w-full max-w-sm m-5">
  <div class="flex items-center border-b border-teal-500 py-2">
    <input (change)="newAnswerTitle.set($event.target.value)" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Responda" aria-label="Full name">
    <button (click)="addAnswer()" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
      Adicionar Resposta
    </button>
  </div>
</form>


@for (answer of selectedComment()?.answers; track $index) {
  <p class="text-gray-700">{{ answer.username || "Anônimo" }}: {{ answer.title }}</p>
}