<div class="flex flex-col gap-2">
    <p class="text-blue-500 cursor-pointer border border-gray-300 rounded-md p-2" (click)="openForm(null)">Nova Questão
    </p>
    @if(showForm()) {
    <form [formGroup]="questionForm">
        <input class="border border-gray-300 rounded-md p-2" formControlName="title" type="text"
            placeholder="Título da Questão" />
        <label class="text-gray-700" for="categoryId">Categoria</label>
        <select class="border border-gray-300 rounded-md p-2" formControlName="categoryId" placeholder="Category">
            @for (category of categories(); track category.id) {
            <option value="{{ category.id }}">{{ category.title }}</option>
            }
        </select>
        <input class="border border-gray-300 rounded-md p-2" formControlName="description" type="text"
            placeholder="Descrição" />
        <label class="text-gray-700" for="difficulty">Dificuldade</label>
        <select class="border border-gray-300 rounded-md p-2" formControlName="difficulty" placeholder="Difficulty">
            @for (difficulty of difficulties; track difficulty) {
            <option class="border border-gray-300 rounded-md p-2" value="{{ difficulty }}">{{ difficulty }}</option>
            }
        </select>
        <input class="border border-gray-300 rounded-md p-2" formControlName="video" type="text" placeholder="Vídeo" />
        <div formArrayName="alternatives"></div>

        <div class="flex flex-col gap-2">
            @for (alternative of alternatives(); track $index) {
            <input value="{{ alternative.title }}" type="text" (change)="alternative.title = $event.target.value"
                placeholder="Alternativa" />
            <input type="checkbox" [checked]="alternative.correct"
                (change)="alternative.correct = $event.target.checked" placeholder="Correct" />
            }
        </div>
        <p class="text-blue-500 cursor-pointer border border-gray-300 rounded-md p-2" (click)="addAlternative()">
            Adicionar
            Alternativa</p>
        <div class="flex flex-row gap-2">

            @if (questionForm.valid) {
            <p class="text-white bg-blue-500 border border-gray-300 rounded-md p-2 cursor-pointer" (click)="create()">
                Criar</p>
            }

            <p class="text-white bg-red-500 border border-gray-300 rounded-md p-2 cursor-pointer" (click)="closeForm()">
                Fechar</p>

        </div>
    </form>

    }
    <table class="w-full border-collapse border border-gray-300 rounded-md">
        <thead class="bg-gray-100">
            <tr class="border border-gray-300 rounded-md p-2">
                <th>ID</th>
                <th>Título</th>
                <th>Categoria</th>
                <th>Dificuldade</th>
                <th>Vídeo</th>
                <th>Alternativas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody class="text-center border border-gray-300 rounded-md p-2">
            @for (question of questions(); track question.id) {
            <tr class="border border-gray-300 rounded-md p-2">
                <td>{{ question.id }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.categoryName }}</td>
                <td>{{ question.difficulty }}</td>
                <td>{{ question.video }}</td>
                <td>{{ question.alternatives.length }}</td>
                <button class="border border-gray-300 rounded-md p-2" (click)="delete(question.id)">Excluir</button>
            </tr>
            }
        </tbody>
    </table>