<div class="m-20">


  @for (question of allQuestions(); track $index) {
  <div class="rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{question.categoryName}}</div>
      <p class="text-gray-700 text-base">
        {{question.title}}
      </p>
    </div>

    <div class="flex flex-col gap-5 m-5">
      <p class="text-gray-700 text-base">
        Selecione uma alternativa
      </p>
      @for (alt of question.alternatives; track $index) {
      <div class="inline-flex items-center">
        <label class="relative flex items-center cursor-pointer" for="Alt-{{alt.id}}">
          <input (click)="selectedAltId.set(alt.id); selectedQuestionId.set(question.id)" name="framework" type="radio"
            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
            id="Alt-{{alt.id}}">
          <span
            class="absolute bg-slate-800 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          </span>
        </label>
        <label class="ml-2 text-slate-600 cursor-pointer text-sm" for="Alt-{{alt.id}}">{{alt.title}}</label>
      </div>
      }


    </div>
    <div class="px-6 pt-4 pb-2 flex justify-between">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{question.difficulty}}</span>
      <button (click)="verify()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Verificar
      </button>
    </div>

  </div>
  }
</div>